body {
  background: url('') !important;
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.displaytbl th{
	background-color:#9ac503 !important; /*subHeaderColorLight*/
}

.mediumHighlight{
	background-color:#2b4776 !important; /*subHeaderColor*/
}

.darkNeutral{
	background-color:#fe7702 !important; /*headerColor*/
}

